<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>Тут автор</strong>
    <small>23.01.2021</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consectetur, consequatur dignissimos dolor dolorem, ducimus, explicabo illo laudantium minima modi recusandae tempore ullam veniam! Assumenda beatae, consequuntur dignissimos dolore incidunt nobis pariatur ratione sit vitae voluptates! Ab at cumque dolore dolorem explicabo, mollitia non pariatur perspiciatis quisquam repellat ullam voluptates.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consectetur, consequatur dignissimos dolor dolorem, ducimus, explicabo illo laudantium minima modi recusandae tempore ullam veniam! Assumenda beatae, consequuntur dignissimos dolore incidunt nobis pariatur ratione sit vitae voluptates! Ab at cumque dolore dolorem explicabo, mollitia non pariatur perspiciatis quisquam repellat ullam voluptates.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consectetur, consequatur dignissimos dolor dolorem, ducimus, explicabo illo laudantium minima modi recusandae tempore ullam veniam! Assumenda beatae, consequuntur dignissimos dolore incidunt nobis pariatur ratione sit vitae voluptates! Ab at cumque dolore dolorem explicabo, mollitia non pariatur perspiciatis quisquam repellat ullam voluptates.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consectetur, consequatur dignissimos dolor dolorem, ducimus, explicabo illo laudantium minima modi recusandae tempore ullam veniam! Assumenda beatae, consequuntur dignissimos dolore incidunt nobis pariatur ratione sit vitae voluptates! Ab at cumque dolore dolorem explicabo, mollitia non pariatur perspiciatis quisquam repellat ullam voluptates.</p>
  </div>
</div>
